---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于"
	description="关于无名苗圃"
	pubDate={new Date('2026-05-01')}
>
	<p>
		这里是「无名苗圃」，一个存放记忆与故事的地方。
	</p>

	<p>
		我会在这里记录一些搭建网站的踩坑过程、玩过的一些游戏、生活中偶然冒出来的想法，以及那些还没有名字的故事。
	</p>

	<p>
		如果你也刚好路过，欢迎坐一坐。
	</p>
</Layout>
